@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.table-default th,
.table-default td {
  @apply border border-gray-400 px-4 py-2 text-black;
}

/* .table-default td.actions {
  @apply flex justify-between;
} */

.list-menu button:focus {
  outline: none !important;
  box-shadow: none !important;
}
